<zen-scroll-area>
    <zen-vertical-layout>
        <zen-vertical-layout-row>
            <zen-checkbox
                    zen-disabled="::false"
                    zen-alignment="::ZEN.CHECKBOX.ALIGNMENT.LEFT"
                    zen-model="appCtrl.tmpModel.checkbox1">
                Normal
            </zen-checkbox>
        </zen-vertical-layout-row>
        <zen-vertical-layout-row>
            <zen-checkbox
                    zen-disabled="::true"
                    zen-alignment="::ZEN.CHECKBOX.ALIGNMENT.LEFT"
                    zen-model="appCtrl.tmpModel.checkbox2">
                Disabled
            </zen-checkbox>
        </zen-vertical-layout-row>
        <zen-vertical-layout-row>
            <zen-checkbox
                    zen-readonly="::true"
                    zen-alignment="::ZEN.CHECKBOX.ALIGNMENT.LEFT"
                    zen-model="appCtrl.tmpModel.checkbox2">
                Readonly
            </zen-checkbox>
        </zen-vertical-layout-row>
        <zen-vertical-layout-row>
            <zen-checkbox
                    zen-disabled="::false"
                    zen-alignment="::ZEN.CHECKBOX.ALIGNMENT.RIGHT"
                    zen-model="appCtrl.tmpModel.checkbox3">
                Normal
            </zen-checkbox>
        </zen-vertical-layout-row>
        <zen-vertical-layout-row>
            <zen-checkbox
                    zen-disabled="::true"
                    zen-alignment="::ZEN.CHECKBOX.ALIGNMENT.RIGHT"
                    zen-model="appCtrl.tmpModel.checkbox4">
                Disabled
            </zen-checkbox>
        </zen-vertical-layout-row>
        <zen-vertical-layout-row>
            <zen-checkbox
                    zen-readonly="::true"
                    zen-alignment="::ZEN.CHECKBOX.ALIGNMENT.RIGHT"
                    zen-model="appCtrl.tmpModel.checkbox4">
                Readonly (disabled but looking as if normal)
            </zen-checkbox>
        </zen-vertical-layout-row>
    </zen-vertical-layout>
</zen-scroll-area>