
<zen-vertical-layout>
    <zen-vertical-layout-row zen-height="::'5rem'">

        <zen-horizontal-menu>
            <zen-horizontal-menu-column zen-width="::'50%'"></zen-horizontal-menu-column>
            <zen-horizontal-menu-link zen-width="::'120px'" zen-text="::'Active'" zen-href="::'/'" zen-active="::true"></zen-horizontal-menu-link>
            <zen-horizontal-menu-link zen-width="::'120px'" zen-text="::'Inactive'" zen-sref="::'___.home'" zen-active="::false"></zen-horizontal-menu-link>
            <zen-horizontal-menu-column zen-width="::'50%'"></zen-horizontal-menu-column>
        </zen-horizontal-menu>

    </zen-vertical-layout-row>
    <zen-vertical-layout-row zen-height="::'100%'"></zen-vertical-layout-row>
</zen-vertical-layout>

