
<zen-horizontal-layout zen-height="::'100%'" zen-divider="::true">

    <zen-horizontal-layout-column zen-width="::'0.40985rem'"
                                  zen-style="{ background: 'rgba(0, 0, 0, 0.08)' }">

    </zen-horizontal-layout-column>
    <zen-horizontal-layout-column zen-width="::'0.666006rem'"
                                  zen-style="{ background: 'rgba(0, 0, 0, 0.13)' }">

    </zen-horizontal-layout-column>
    <zen-horizontal-layout-column zen-width="::'1.07586rem'"
                                  zen-style="{ background: 'rgba(0, 0, 0, 0.21)' }">

    </zen-horizontal-layout-column>
    <zen-horizontal-layout-column zen-width="::'1.74186rem'"
                                  zen-style="{ background: 'rgba(0, 0, 0, 0.34)' }">

    </zen-horizontal-layout-column>
    <zen-horizontal-layout-column zen-width="::'2.81772rem'"
                                  zen-style="{ background: 'rgba(0, 0, 0, 0.55)' }">

    </zen-horizontal-layout-column>
    <zen-horizontal-layout-column zen-width="::'4.55958rem'"
                                  zen-style="{ background: 'rgba(0, 0, 0, 0.89)' }">

    </zen-horizontal-layout-column>

    <zen-horizontal-layout-column zen-width="::'2.02046%'"
                                  zen-style="{ background: 'rgba(0, 0, 0, 0.082)' }">

    </zen-horizontal-layout-column>
    <zen-horizontal-layout-column zen-width="::'3.03069%'"
                                  zen-style="{ background: 'rgba(0, 0, 0, 0.125)' }">

    </zen-horizontal-layout-column>
    <zen-horizontal-layout-column zen-width="::'5.05116%'"
                                  zen-style="{ background: 'rgba(0, 0, 0, 0.21)' }">

    </zen-horizontal-layout-column>
    <zen-horizontal-layout-column zen-width="::'8.08185%'"
                                  zen-style="{ background: 'rgba(0, 0, 0, 0.337)' }">

    </zen-horizontal-layout-column>
    <zen-horizontal-layout-column zen-width="::'13.133%'"
                                  zen-style="{ background: 'rgba(0, 0, 0, 0.545)' }">

    </zen-horizontal-layout-column>
    <zen-horizontal-layout-column zen-width="::'21.2149%'"
                                  zen-style="{ background: 'rgba(0, 0, 0, 0.882)' }">

    </zen-horizontal-layout-column>

    <zen-horizontal-layout-column zen-width="::2"
                                  zen-style="{ background: 'rgba(0, 0, 0, 0.082)' }">

    </zen-horizontal-layout-column>
    <zen-horizontal-layout-column zen-width="::3"
                                  zen-style="{ background: 'rgba(0, 0, 0, 0.125)' }">

    </zen-horizontal-layout-column>
    <zen-horizontal-layout-column zen-width="::5"
                                  zen-style="{ background: 'rgba(0, 0, 0, 0.21)' }">

    </zen-horizontal-layout-column>
    <zen-horizontal-layout-column zen-width="::8"
                                  zen-style="{ background: 'rgba(0, 0, 0, 0.337)' }">

    </zen-horizontal-layout-column>
    <zen-horizontal-layout-column zen-width="::13"
                                  zen-style="{ background: 'rgba(0, 0, 0, 0.545)' }">

    </zen-horizontal-layout-column>
    <zen-horizontal-layout-column zen-width="::21"
                                  zen-style="{ background: 'rgba(0, 0, 0, 0.882)' }">

    </zen-horizontal-layout-column>

    <zen-horizontal-layout-column zen-style="{ 'white-space': 'nowrap' }">
        no-width
    </zen-horizontal-layout-column>

</zen-horizontal-layout>
