<zen-modal>

    <zen-window zen-max-width="::'600px'" zen-stretch="::false" zen-palette="::ZEN.WINDOW.PALETTE.BRANDED">
        <zen-window-head>
            <zen-window-head-title>Branded window (non-stretch)</zen-window-head-title>
            <zen-window-head-close-button zen-click="appCtrl.windowCloseButtonOnClick()"></zen-window-head-close-button>
        </zen-window-head>
        <zen-window-body zen-padding="::'9px'">
            <zen-text>Lorem ipsum dolor sit amet,
                consectetur adipiscing elit,
                sed do eiusmod tempor incididunt
                ut labore et dolore magna aliqua.</zen-text>
        </zen-window-body>
    </zen-window>

</zen-modal>